---
import Layout from "../layouts/Layout.astro";
import Notifications from "../components/Notifications.vue";
---

<Layout title="Welcome to Astro.">
	<div class="h-screen bg-slate-500 flex justify-center items-center">
	<Notifications client:load/>

	</div>
</Layout>
